<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>app-store-connect</string>

  <key>signingStyle</key>
  <string>manual</string>

  <key>teamID</key>
  <string>L52QSD32SX</string>

  <key>provisioningProfiles</key>
  <dict>
    <key>com.whitesails.remote</key>
    <string>WhiteSails Remote App Store</string>
  </dict>

  <key>compileBitcode</key>
  <false/>
  <key>stripSwiftSymbols</key>
  <true/>
</dict>
</plist>